html {
  background-color: #D4D4D4;
}

body { 
	  margin-right: 5%; 
	  margin-bottom: 2%; 
	  margin-left: 5%;
    padding: 2%;
  }

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: orange;
}

h2 {
  font-size: 18px;
}

.backtable {
    border-radius: 20px;
    border: 2px solid black;
    background-color: #818181;
}

.backtable td {
  padding: 10px;
  font-size: 22px;
}

button {
  width: 300px;
}